PORT=5000
MONGO_URI=mongodb://localhost:27017/job_portal_db
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1h
NODE_ENV=development
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password

# Adzuna Jobs API
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
ADZUNA_COUNTRY=gb
