PORT=5000
MONGO_URI=mongodb+srv://app_user:app_user@1212@job-portal-cluster.9jwavb6.mongodb.net/?appName=job-portal-cluster
JWT_SECRET=Joel0610#
JWT_EXPIRES_IN=1h
NODE_ENV=development
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Admin1234
